### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
#Dependencies and Setup
import pandas as pd
#Read File location
file_to_load = "./Resources/purchase_data.csv"

## Player Count

* Display the total number of players

In [2]:
#Assigning a variable and calculate the total 
purchase_data = pd.read_csv(file_to_load)
nb_of_pl=len(purchase_data["SN"].unique())
print("Player Count  "+ str(nb_of_pl))

Player Count  576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Summary Purchasing Data
Unique_items = len(purchase_data["Item ID"].unique())
Average_price = purchase_data["Price"].mean()
Number_of_purchases = purchase_data["Purchase ID"].count()
TotalRevenue = sum(purchase_data["Price"])

#DataFrame Summary Table
summarytable_df = pd.DataFrame()
summarytable_df["Unique_items"] = [Unique_items]
summarytable_df["Number_of_purchases"] = [Number_of_purchases]
summarytable_df["Average_price"] = [Average_price]
summarytable_df["TotalRevenue"] = [TotalRevenue ]
summarytable_df

   Unique_items  Number_of_purchases  Average_price  TotalRevenue
0           179                  780       3.050987       2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [33]:
#Number of players by gender
Count_players_gender= purchase_data ['Gender'].value_counts()
Count_players_gender

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [23]:
#Total Players 
Count_total_players=len (purchase_data['Gender'])
Count_total_players

780

In [24]:
#Total Male Players
Count_Male_players=len (purchase_data[purchase_data ['Gender'] == "Male"])
Count_Male_players

652

In [7]:
#Total Percentage of Male Players
Male_player_pct=round ((Count_Male_players) / (Count_total_players) *100)
Male_player_pct

84

In [8]:
#Count of Female Players
Count_Female_players=len (purchase_data[purchase_data ['Gender']== "Female"])
Count_Female_players

113

In [9]:
# Percentage of Female players
Female_player_pct=round ((Count_Female_players) / (Count_total_players)*100)
Female_player_pct

14

In [60]:
#Total of Other players
Count_Other_players=len (purchase_data[purchase_data ['Gender'] == "Other / Non-Disclosed"])
Count_Other_players

15

In [11]:
#Total Percentage of other players
Other_player_pct=round ((Count_Other_players) / (Count_total_players)*100)
Other_player_pct

2

In [12]:
#Total count and percentage summary of players by gender
player_gender_summary_df=pd.DataFrame()
player_gender_summary_df ["Count_Male_players"]=[Count_Male_players]
player_gender_summary_df ["Count_Female_players"]=[Count_Female_players]
player_gender_summary_df ["Count_Other_players"]=[Count_Other_players]
player_gender_summary_df ["Count_total_players"]=[Count_total_players]
player_gender_summary_df ["Male_player_pct"]=[Male_player_pct]
player_gender_summary_df ["Female_player_pct"]=[Female_player_pct]
player_gender_summary_df ["Other_player_pct"]=[Other_player_pct]
player_gender_summary_df

,Count_Male_players,Count_Female_players,Count_Other_players,Count_total_players,Male_player_pct,Female_player_pct,Other_player_pct
0,652,113,15,780,84,14,2


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
#Summary of calculations to obtain purchase count

print("Male_purchase_count",Male_purchase_count)
print("Female_purchase_count",Female_purchase_count)
print("Other_purchase_count",Other_purchase_count)

Male_purchase_count 652
Female_purchase_count 113
Other_purchase_count 15

In [53]:
#List of the columns for male players average purchase price
columns=["Purchase ID","Item ID","Age","Gender","SN","Item Name","Price"]

#DataFrame for male players in columns. 
Male_df=purchase_data.loc [purchase_data["Gender"] =="Male", columns]
Male_purchase_count=len (purchase_data[purchase_data['Gender'] == "Male"])
Male_Total_Pur_Price=sum (Male_df["Price"])
Male_Avg_Pur_Price=Male_Total_Pur_Price / Male_purchase_count
Summary_df=pd.DataFrame()
Summary_df["Male_purchase_count"]=[Male_purchase_count]
Summary_df["Male_Total_Pur_Price"]=[Male_Total_Pur_Price]
Summary_df["Male_Avg_Pur_Price"]=[Male_Avg_Pur_Price]
Summary_df

   Male_purchase_count  Male_Total_Pur_Price  Male_Avg_Pur_Price
0                  652               1967.64            3.017853

In [57]:
#List of the columns for female players average purchase price
columns=["Purchase ID","Item ID","Age","Gender","SN","Item Name","Price"]

#DataFrame for female players in columns 
Female_df=purchase_data.loc [purchase_data["Gender"] =="Female", columns]
Female_purchase_count=len (purchase_data[purchase_data['Gender'] == "Female"])
Female_Total_Pur_Price=sum (Female_df["Price"])
Female_Avg_Pur_Price=Female_Total_Pur_Price / Female_purchase_count
Summary_df=pd.DataFrame()
Summary_df["Female_count"]=[Female_count]
Summary_df["Female_Total_Pur_Price"]=[Female_Total_Pur_Price]
Summary_df["Female_Avg_Pur_Price"]=[Female_Avg_Pur_Price]
Summary_df

   Female_count  Female_Total_Pur_Price  Female_Avg_Pur_Price
0           113                  361.94              3.203009

In [61]:
#List of the columns for "Others/Non-disclosed" average purchase price 
columns=["Purchase ID","Item ID","Age","Gender","SN","Item Name","Price"]

#DataFrame for "Others/Non-disclosed" in columns . 
Others_df=purchase_data.loc [purchase_data["Gender"] =="Other / Non-Disclosed", columns]
Others_purchase_count=len (purchase_data[purchase_data['Gender'] == "Other / Non-Disclosed"])
Others_Total_Pur_Price=sum (Others_df["Price"])
Others_Avg_Pur_Price=Others_Total_Pur_Price / Others_count
Summary_df = pd.DataFrame()
Summary_df["Others_count"]=[Others_count]
Summary_df["Others_Total_Pur_Price"]=[Others_Total_Pur_Price]
Summary_df["Others_Avg_Pur_Price"]=[Others_Avg_Pur_Price]
Summary_df

NameError: name 'Others_count' is not defined

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [66]:
#Establish bins for ages
Min_age = purchase_data ["Age"] .min( )
print("Min_age", Min_age)
Max_age = purchase_data ["Age"] .max( )
print("Max_age", Max_age)
#Bins to place data
bins=[0,10,15,20,25,30,35,40,45]
Age_group=["<10","10-14","15-19","20-24","25-29", "30-34","35-39",">=40"]
#Place purchase data in the bins
Age_df=pd.cut(purchase_data["Age"],bins,labels=Age_group)
Age_df.head(10)

Min_age 7
Max_age 45

0    15-19
1    35-39
2    20-24
3    20-24
4    20-24
5    20-24
6    35-39
7    15-19
8    20-24
9    30-34
Name: Age, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '>=40']

In [67]:
#DataFrame for age range
purchase_data ["Age_range"]=Age_df
purchase_data.head ( )

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [68]:
#DataFrame of genre by age range
Age_grp_gen=purchase_data.groupby ("Age_range") ["Gender"] .value_counts()
Age_grp_gen

Age_range  Gender
<10        Male                      25
           Female                     7
10-14      Male                      41
           Female                    11
           Other / Non-Disclosed      2
15-19      Male                     167
           Female                    28
           Other / Non-Disclosed      5
20-24      Male                     270
           Female                    51
           Other / Non-Disclosed      4
25-29      Male                      70
           Female                     7
30-34      Male                      43
           Female                     7
           Other / Non-Disclosed      2
35-39      Male                      29
           Female                     2
           Other / Non-Disclosed      2
>=40       Male                       7
Name: Gender, dtype: int64

In [69]:
#DataFrame of age range percentage
Age_pct=round(purchase_data ["Age_range"] .value_counts( ) / 780 * 100, 2)
Age_pct

20-24    41.67
15-19    25.64
25-29     9.87
10-14     6.92
30-34     6.67
35-39     4.23
<10       4.10
>=40      0.90
Name: Age_range, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [81]:

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age_range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [88]:
# Group purchase data by names
spender_stats = purchase_data.groupby("SN")
# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()
# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()
# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

In [90]:
#Results of calculations
grouped_spenders_df=purchase_data.groupby (["SN"])
purchaseCount=grouped_spenders_df ["Purchase ID"] .count()
averagePurchasePrice=grouped_spenders_df ["Price"] .mean()
totalPurchaseValue=grouped_spenders_df ["Price"] .sum()

#Data Frame to hold the results
spenders_df=pd.DataFrame ({"Purchase Count":purchaseCount,
                            "Average Purchase Price":averagePurchasePrice,
                            "Total Purchase Value":totalPurchaseValue})

# Column for total purchase value in descending order
spenders_df=spenders_df.sort_values(["Total Purchase Value"],ascending=False)

# Optional: dislpay data formatting cleaner
spenders_df["Average Purchase Price"]=spenders_df["Average Purchase Price"].map("${:,.2f}".format)
spenders_df["Total Purchase Value"]=spenders_df["Total Purchase Value"].map("${:,.2f}".format)

# Preview of Data Frame summary 
spenders_df [["Purchase Count","Average Purchase Price","Total Purchase Value"]].head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [96]:
#Item ID, Item Name, and Item Price columns
items_df=purchase_data [["Item ID","Item Name","Price"]]
#Group by Item ID and Item Name. 
grouped_items_df=items_df.groupby (["Item ID", "Item Name"])
#Perform calculations to obtain purchase count, item price, and total purchase value
purchaseCount=grouped_items_df ["Item ID"] .count()
itemPrice=grouped_items_df ["Price"] .mean()
totalPurchaseValue=grouped_items_df["Price"] .sum()
#Create a summary data frame to hold the results
items_df=pd.DataFrame ({"Purchase Count":purchaseCount,
                         "Item Price":itemPrice,
                         "Total Purchase Value":totalPurchaseValue})
#Sort the purchase count column in descending order
items_df=items_df.sort_values (["Purchase Count"],ascending=False)
#Optional: give the displayed data cleaner formatting
items_df["Item Price"] = items_df ["Item Price"] .map("${:,.2f}" .format)
items_df["Total Purchase Value"]=items_df["Total Purchase Value"] .map("${:,.2f}" .format)
#Display a preview of the summary data frame
items_df [["Purchase Count","Item Price","Total Purchase Value"]] .head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [115]:
Most_Profitable_Items =profitable_items.sort_values('Total Purchase Value', ascending=False).head()
Most_Profitable_Items

NameError: name 'profitable_items' is not defined